<div style="text-align: center; margin-top: 50px">

  <table>
    <tr>
      <td>Id</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Status</td>
      <td>Order date</td>
      <td>Order details</td>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.firstName}}</td>
      <td>{{order.lastName}}</td>
      <td>{{order.status}}</td>
      <td>{{order.orderDate}}</td>
      <td>
        <button style="font-size: 15px; color: black;" (click)="getDetails(order.id)">Details</button>
      </td>
    </tr>
  </table>

  <nav class="small-nav">
    <a routerLink="/admin">Back</a>
  </nav>

</div>

