<div style="text-align: center">

  <nav>
    <div class="buttons">
      <button (click)="getPizzas()">Pizza</button>
      <button (click)="getPastas()">Pasta</button>
      <button (click)="getDrinks()">Drink</button>
    </div>
  </nav>

  <table>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Description</td>
      <td>Price</td>
      <td>Details</td>
      <td>Order</td>
    </tr>
    <tr *ngFor="let meal of meals">
      <td>{{meal.id}}</td>
      <td>{{meal.name}}</td>
      <td>{{meal.description}}</td>
      <td>{{meal.price}}</td>
      <td>
        <button style="font-size: 15px; color: black;" (click)="getDetails(meal.id)">Details</button>
      </td>
      <td>
        <button style="font-size: 15px; color: black;" (click)="addItemToOrder(meal)">Add</button>
      </td>
    </tr>
  </table>

  <nav class="small-nav">
    <a routerLink="/order">Go to your order</a>
  </nav>

</div>
