html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  background: url("https://bit.ly/2MQy0QO") no-repeat fixed center;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav a {
  font-size: 25px;
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  background-color: #eee;
  opacity: 0.7;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

button {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px;
  display: inline-flex;
  background-color: #eee;
  opacity: 0.7;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: Verdana, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: #607D8B;
}

button:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

button:active {
  color: #039be5;
}

button:disabled,
button[disabled]{
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px;
  display: inline-flex;
  background-color: #eee;
  opacity: 0.7;
  border-radius: 4px;
  border: none;
  cursor: unset;
  font-family: Verdana, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: #607D8B;
}

.header {
  width: 100%;
  height: 75px;
  display: flex;
  background-color: #eee;
  opacity: 0.75;
  font-family: "MS Gothic", sans-serif;
  font-size: 50px;
  line-height: 1.5;
  color: #cdcdcd;
}

.header-feature {
  font-size: 25px;
  text-align: right;
  margin: 20px;
  justify-content: right;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  width: 60%;
  vertical-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  opacity: 0.7;
}

tr:nth-child(odd) {
  background-color: #e5dfe5;
  opacity: 0.7;
}

.buttons {
  display: inline-block;
  margin-top: 10px;
}

.small-nav a {
  font-size: 15px;
  padding: 5px 10px;
  text-decoration: none;
  margin: 15px;
  display: inline-block;
  background-color: #eee;
  opacity: 0.7;
  border-radius: 4px;
}

.small-nav a:visited, a:link {
  color: #607D8B;
}

.small-nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.small-nav a.active {
  color: #039be5;
}

.details {
  padding: 5px 10px;
  text-decoration: none;
  margin: 50px;
  background-color: #eee;
  opacity: 0.7;
  border-radius: 4px;
  border: none;
  cursor: unset;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #607D8B;
}

